* {
    padding: 20;
    margin: 50;     
  }
  
  body {
      justify-content: right;
      font-family: Arial, Helvetica, sans-serif ;
      color:black;
  }
  
  h1{
    display: block;
    text-align: center;
  }
  
  .dadospessoais {
    background-color: cadetblue;
  }
  
  .contatos {
    background-color: cadetblue;
  }
  
  .objetivo {
    background-color: cadetblue;
  }
  
  .experiencia {
    background-color: cadetblue;
  }
  
  
  
  section {
    margin-bottom: 20px;
    color: black;
  }
  